.owl-carousel .owl-wrapper {
  display: flex !important;
}

.owl-carousel {
  .owl-stage {
    display: flex;
  }

  .owl-item {
    display: flex;
    flex: 1 0 auto;
    height: auto !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: initial;
    }

  }
}

.item {
  display: inline-block;
  position: relative;
  height: auto;
  width: 100%;

  .item-main-container {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 300px;
  }

  .movie-name {
    display: inline-block;
    padding: 10px 0;
    font-size: 1.5rem;
  }

}
